@import 'variables';

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1, h2, h3, h4, h5, h6, p {
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
}
html,
body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $second-color;
}
.container{
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

@import 'general';

.title {
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Comfortaa', cursive;
    font-size: 60px;
    line-height: 111%;
}
.popup-btn{
    position: absolute;
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
    & > span{
        padding-top: 12px;
        display: block;
        color: $main-color;
        transition: color .6s;
        &:hover{
            color: $hover-color;
        }   
    }
    & path, circle{
        transition: all .6s;
    }
    &:hover path{
        fill: $hover-btn-color;
    }
    &:hover circle{
        stroke: $hover-btn-color;
    }
}

img{
    object-fit: cover;
}



@media(max-width: 1230px){
    .header{ 
        &__decor-text{
            &_two{
                left: 30px;
            }
        }
    }
    .buy{
        padding: 0 30px;
        &__wrapper{
            flex-wrap: wrap;
            justify-content: center;
            gap: 49px;
        }
        &__img{
            order: -1;
            width: 100%;
        }
        &__content{
            width: 100%;
        }
   
        &__item{
            width: 100%;
            max-width: 600px;
    }
}
    .gallery{
        &__box{
            flex-wrap: wrap;
        }
        &-min{
            margin-top: 0;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: auto auto;
            width: 100%;
            &__img{
                width: 100%;
                align-self: stretch;
            }
        }
        &-max{
            grid-template-columns: 1fr 2fr 1fr;
            grid-template-rows: auto auto auto;
            width: 100%;
            &__img{
                width: 100%;
                align-self: stretch;
            }
        }
    }
    .footer{
        &__gallery{
            flex-wrap: wrap;
            justify-content: center;
            gap: 22px;
        }
    }
}
@media(max-width: 1000px){
    .info{
        background-position: 45%;
        &__top{
            flex-wrap: wrap;
            justify-content: center;
            &-text{
                padding-top: 142px;
            }
        }
    }
    .gallery{
        &-min{
            margin-bottom: 100px;
        }
        &-max{
            &__text{
                font-size: 20px;
                line-height: 134%;
            }
        }
    }
    .footer{
        &__top{
            flex-direction: column;
            align-items: center;
        }
        &__logo{
            order: -1;
            margin-bottom: 50px;
        }
        &__gallery{
            &-item{
                width: 100%;
            }
        }
    }
}
@media(max-width: 840px){
    .buy{
        &__price{
            bottom: auto;
           top: -200px; 
           width: 179px;
           height: 178px;
           font-size: 31px;
           background-size: cover;
        }
}
    .gallery{
        &-min{
            padding: 29px 31px 40px;
            gap: 15px 20px;
        }
        &-max{
            &__text{
                font-size: 18px;
                line-height: 134%;
            }
        }
    }
}
@media(max-width: 898px){
    .header{
        &__decor-text{
            &_one{
                font-size: 100px;
                right: 34px;
                bottom: 52px;
               }
               &_two{
                font-size: 100px;
               }
               &_three{
                   font-size: 25px;
                   right: 16px;
               }
        }
     }
}
@media(max-width: 721px){
    .header{
        &__top{
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px 90px;
        }
        &__content-box{
            margin-right: 0;
        }
        &__btn{
            width: 70%;
        }
    }
    .info{
        .container{
            padding: 0 30px;
        }
        &__top{
            display: block;
            margin: 0 auto;
            &-text{
                width: 100%;
                margin-right: 0;
                &:last-of-type{
                    padding-top: 74px;
                }
            }
            &-img{
                display: block;
                width: 227px;
                margin: 0 auto;
            }
        }
        &__specs{
            display: block;
            margin-top: 285px;
        }
    }
    .gallery{
        &-min{
            margin-bottom: 50px;
           &::before{
            display: none;
           }
        }
        &__box{
            gap: 41px;
        }
        &-max{
            gap: 15px;
            &__text{
                font-size: 15px;
                line-height: 134%;
            }
        }
    }
}
@media(max-width: 619px){
    .gallery{
        &-max{
            &__text{
                font-size: 12px;
                line-height: 134%;
            }
        }
    }
}
@media(max-width: 662px){
    .header{
        &__decor-text{
            display: none;
        }
     }
     .info{
        &__specs{
            &-list{
                width: 100%;
            }
            &-text{
                width: 100%
            }
        }
     }
    .title{
        font-size: 48px;
        line-height: 105%;
        margin-bottom: 30px;
    }

}
@media(max-width: 547px){
    .buy{
        &__price{
            background-size: cover;
            width: 106px;
            height: 105px;
            font-size: 21px;
            top: -169px;
        }
    }
    .gallery{
        &-min{
            gap: 10px;
         
        }
        &-max{
            gap: 10px;
            &__text{
                font-size: 10px;
                line-height: 134%;
            }
        }
    }
}
@media(max-width: 440px){
    .gallery{
        &__box{
            gap: 20px;
        }
        &-min{
            margin-bottom: 30px;
        }
    }
    .technology{
        &__title{
            font-size: 38px;
            line-height: 105%;   
        }
    }
}
@media(max-width: 375px){
    .header{
       &__title{
        font-size: 55px;
        line-height: 91%;
       }
    }
    .buy{
        &__price{
            width: 76px;
            height: 74px;
            font-size: 15px;
            top: -121px;
        }
    }
}