@import 'variables';

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1, h2, h3, h4, h5, h6, p {
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
}
html,
body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $second-color;
}
.container{
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

@import 'general';

.title {
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Comfortaa', cursive;
    font-size: 60px;
    line-height: 111%;
}
.popup-btn{
    position: absolute;
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
    & > span{
        padding-top: 12px;
        display: block;
        color: $main-color;
        transition: color .6s;
        &:hover{
            color: $hover-color;
        }   
    }
    & path, circle{
        transition: all .6s;
    }
    &:hover path{
        fill: $hover-btn-color;
    }
    &:hover circle{
        stroke: $hover-btn-color;
    }
}

img{
    object-fit: cover;
}

@media(max-width: 1230px){
    .header{ 
        &__decor-text{
            &_two{
                left: 30px;
            }
        }
    }
}
@media(max-width: 898px){
    .header{
        &__decor-text{
            &_one{
                font-size: 100px;
                right: 34px;
                bottom: 52px;
               }
               &_two{
                font-size: 100px;
               }
               &_three{
                   font-size: 25px;
                   right: 16px;
               }
        }
     }
}
@media(max-width: 720px){
    .header{
        &__top{
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px 90px;
        }
        &__content-box{
            margin-right: 0;
        }
        &__btn{
            width: 70%;
        }
    }
}
@media(max-width: 662px){
    .header{
        &__decor-text{
            display: none;
        }
     }
}
@media(max-width: 414px){
    .header{
    
     }
}
@media(max-width: 375px){
    .header{
       &__title{
        font-size: 55px;
        line-height: 91%;
       }
    }
}